/* due_style.css

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .input-field {
    width: calc(100% - 110px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .input-field:last-child {
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .input-label {
    margin-right: 10px;
    width: 100px;
    font-weight: bold;
  }
  
  .input-container:last-child .input-label {
    margin-bottom: 10px;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  }
   */ 

   .due-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.due-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.due-container button:hover {
    background-color: #0056b3;
}

.due-container input[type="text"],
.due-container input[type="number"] {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.due-container input[type="text"]::placeholder,
.due-container input[type="number"]::placeholder {
    color: #aaa;
}

.delete-person-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.delete-person-form input[type="text"] {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.delete-person-form button {
    padding: 10px 20px;
    background-color: #dc3545; /* Danger color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-person-form button:hover {
    background-color: #c82333; /* Darker color on hover */
}
