.register-form-container { 
    background-color: #ffffff;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: 20px;
   width: 300px;
   margin: 0 auto; 
   /* margin-top: 100px; */
}

.register-form-container form label {
   display: block;
   margin-bottom: 5px;
}

.register-form-container form input[type="text"],
.register-form-container form input[type="password"] {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
}

.register-form-container form input[type="submit"] {
   width: 100%;
   padding: 10px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.register-form-container form input[type="submit"]:hover {
   background-color: #0056b3;
} 